<footer class="footer" id="footer">

</footer>
<!-- END footer -->

<div class="popup" id="mainForm">
    <div class="popup__content">
        <div class="popup__body">
            <button class="popup__close"></button>
        </div>
    </div>
    <!-- /.popup__content -->
</div>
<!-- /.popup -->
</div>
<!-- END page__wrapper -->

<!-- scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script src="assets/js/main.min.js"></script>
</body>

</html>
