.popup#mainForm
  .popup__content
    .popup__body
      button.popup__close
      h2.popup__title
      p.popup__text
      .popup__form

.popup#successForm
  .popup__content
    .popup__body
      button.popup__close
      h2.popup__title Брагодарим за заявку!
      p.popup__text В ближайшее время наш менеджер свяжется с вами для подтвеждения брони
      button.btn Закрыть окно
